/* Esto deberia transcribirse en css*/
/*Asi se comenta en CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.parrafoUno {
  width: 80%; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200;
  height: 100vh; }

header {
  font-size: 20px; }

main {
  margin: 30px; }

/* color texto titulos*/
h1 {
  color: #D48; }

h2 {
  color: #759; }

h4 {
  color: coral; }

/* prueba color*/
.primera {
  color: blueviolet; }

#saludo {
  color: cornflowerblue; }

#color2 {
  color: darkorchid; }

p {
  color: black; }

.colorResume {
  color: cornsilk; }

#probarEsteId {
  color: blueviolet; }

/* prueba edicion texto*/
.italica {
  font-style: italic; }

.negrita {
  font-weight: bold; }

.texto20px {
  font-size: 20px; }

.impact {
  font-family: Impact, "Arial", sans-serif; }

.justificado {
  text-align: justify; }

/*justifica el texto a la derecha*/
.aladerecha {
  text-align: right; }

/*alinea el texto al centro*/
.centrado {
  text-align: center; }

/* pone en mayuscula cada una de las plabaras del parrafo*/
.capitalizar {
  text-transform: capitalize; }

/*para el espacio entre lineas*/
.interlineado {
  line-height: 2; }

/*subraya el texto*/
.subrayado {
  text-decoration-line: underline; }

/* ESTILOS FOOTER */
footer {
  background-image: linear-gradient(to top, #b1489c, #6b3a8b);
  padding: 20px;
  box-sizing: 20px; }

.textoBlancoFooter {
  color: white; }

/*TIPOGRAFIA GOOGLE*/
.tipoGoogle {
  font-family: 'Josefin Sans', sans-serif; }

.margenes {
  margin: 22px 5px 20px 30px;
  padding: 10% 0; }

.bajar {
  margin-top: 50px; }

.margenes2 {
  margin-left: 1350px; }

.margen3 {
  margin-left: 30px;
  margin-right: 30px; }

.margen4 {
  margin: 25px 5px 5px 20px; }

.margen5 {
  margin: 80px 5px 5px 20px;
  padding: 450px 5px 5px 5px;
  border-top-width: 50px; }

/*menu con submenu*/
nav ul {
  background-color: #edc7fc;
  display: flex;
  justify-content: space-around;
  position: relative; }

nav ul li {
  list-style-type: none;
  padding: 20px 10px;
  margin: 10px 0px; }

nav ul ul {
  display: none; }

nav ul li :hover ul {
  display: block;
  position: absolute; }

nav ol {
  background-color: #6e33cc;
  display: flex;
  justify-content: space-around; }

nav ol li {
  list-style-type: none; }

nav ol ol {
  display: none; }

nav ol li:hover ol {
  display: block; }

.sublista {
  display: none; }

.workHover :hover .sublista {
  display: block; }

/*box model , flecha para ir arriba de la seccion*/
.menuContainer {
  position: sticky;
  top: 500px; }

.destacado {
  position: absolute;
  top: 250;
  left: 550;
  animation-name: arriba;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes arriba {
  from {
    transform: translate(2, 1); }
  to {
    transform: translate(1, 2); } }

/*FLEBOX para alinear caja de contenidos externos*/
.fotoContainer {
  display: flex;
  justify-content: space-around; }

.medidasLogo {
  padding: 50px 10px 50px 30px; }

.prueba {
  justify-content: space-around; }

.container {
  border: solid black 1px; }

.textoResume1 {
  position: relative;
  padding: 30px;
  margin-top: 10px; }

.textoResume2 {
  position: relative;
  padding: 30;
  margin-left: 600px; }

.fondoImagen2 {
  background-image: url(../multimedia/fondocontact.png); }

.textoContainer {
  display: flex;
  justify-content: space-around; }

.arriba {
  margin-top: 20px;
  border: solid pink 2px; }

.abajo {
  margin-top: 100px;
  border: solid pink 2px; }

/*Box model, menu desplegable*/
.dropbtn {
  background-color: #efbbff;
  color: #efbbff;
  padding: 16px;
  font-size: 16px;
  border: none; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f884f2; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #f884f2; }

/* BOX MODEL posicion del pie de pagina*/
footer {
  position: sticky; }

/*FLEXBOX imagenes index*/
.containerFoto {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.container1 {
  border: solid #ea00ff 5px;
  position: relative;
  top: 50px;
  left: 5px; }

.container2 {
  border: solid #8807f1 5px;
  position: relative;
  top: -10px;
  left: 1000px; }

.container3 {
  border: solid #ff2cd1 5px;
  position: relative;
  top: -70px;
  left: 1080px; }

/*centrar texto footer*/
.ubicacion {
  text-align: center; }

/*caja color para blog*/
.container4 {
  border: solid #791e79 4px; }

.probar {
  align-items: center; }

/*------GRID BLOG-----*/
.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.card {
  display: grid;
  grid-template-areas: "titulo" "link" "texto";
  /*tercer fila*/
  grid-template-columns: 1fr;
  margin: 20px; }

.link {
  grid-area: link;
  justify-self: center;
  margin-top: 20px; }

.titulo {
  grid-area: titulo;
  justify-self: center; }

.texto {
  grid-area: texto;
  align-items: center;
  margin-top: 20px; }

.fotoIndex {
  width: 300px; }

/*media tablet*/
@media (max-width: 480px) {
  .cardContainer {
    grid-template-columns: 1fr; }
  .card {
    padding: 20px; } }

/*------GRID INDEX & MOBILE FIRST-----*/
.cartaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.carta {
  display: grid;
  grid-template-areas: "imagen1 texto1" "texto2 imagen2" "texto3 imagen3";
  grid-template-rows: 1fr 1f 1fr;
  margin: 20px; }

.texto1 {
  grid-area: texto1;
  align-self: center;
  align-content: flex-start; }

.texto2 {
  grid-area: texto2;
  align-self: center; }

.texto3 {
  grid-area: texto3;
  align-self: center; }

.imagen1 {
  grid-area: imagen1;
  border: #c475b3 solid 5px; }

.imagen2 {
  grid-area: imagen2;
  border: rebeccapurple solid 5px; }

.imagen3 {
  grid-area: imagen3;
  border: #f884f2 solid 5px; }

.cartaContainer {
  grid-template-columns: 1fr; }

.carta {
  display: grid;
  grid-template-areas: "texto1" "imagen1" "texto2" "imagen2" "texto3" "imagen3";
  grid-template-rows: 1fr;
  margin: 20px;
  justify-items: center;
  text-align: center; }

@media (min-width: 1024px) {
  .cartaContainer {
    display: grid;
    grid-template-columns: 1fr; }
  .carta {
    display: grid;
    grid-template-areas: "texto1 imagen1" "texto2 imagen2" "texto3 imagen3";
    grid-template-rows: 1fr 1f 1fr;
    margin: 20px; } }

@media (min-width: 600px) and (max-width: 1023px) {
  nav ul {
    display: block; }
  .cartaContainer {
    display: grid;
    grid-template-columns: 1fr; }
  .carta {
    display: grid;
    grid-template-areas: "texto1" "imagen1" "texto2" "imagen2" "texto3" "imagen3";
    grid-template-rows: 1fr 1f 1fr;
    margin: 20px; } }

.card:hover {
  border: blueviolet solid; }

/*RESUME GRID*/
.otroContainer {
  display: grid;
  grid-template-columns: 1f 30%;
  grid-template-areas: "linea otro";
  margin-top: 30px; }

.otro {
  display: grid;
  grid-template-areas: "year desc";
  grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr;
  margin: 20px;
  padding: 30px;
  top: 50px;
  align-self: center;
  align-items: center; }

.linea {
  grid-area: linea; }

.year {
  grid-area: year; }

desc {
  grid-area: desc; }

.lineaColor {
  background-image: linear-gradient(#fcacea, #8d8bf7, purple);
  width: 30px;
  height: 700px;
  justify-self: center; }

@media (max-width: 480px) {
  .otroContainer {
    display: grid;
    grid-template-columns: auto 1f;
    grid-template-areas: "linea otro";
    margin-top: 30px; }
  .otro {
    display: grid;
    grid-template-areas: "year desc";
    grid-template-rows: 1fr 1f 1fr 1fr 1fr 1fr;
    margin: 20px;
    border: red solid 1px;
    padding: 30px;
    top: 50px; }
  .linea {
    grid-area: linea; }
  .year {
    grid-area: year; }
  desc {
    grid-area: desc;
    justify-self: flex-end; }
  .lineaColor {
    background-image: linear-gradient(#fcacea, #8d8bf7, purple);
    width: 30px;
    height: 1000px;
    justify-self: center;
    position: relative; } }

/*WORK TRANSITION*/
.transicion {
  transition: 2s; }

.transicion:hover {
  width: 75%;
  height: 565px;
  background-image: url(https://linarescandelaportfolio.files.wordpress.com/2018/12/POLLO-BITS-MARIO-BROS.gif?w=704&zoom=2); }

/*SASS PARA INDEX*/
.red-1 {
  font-size: 10px; }

.red-2 {
  font-size: 20px; }

.red-3 {
  font-size: 30px; }

.red-4 {
  font-size: 40px; }

.fototrabajando-index {
  background-image: url(../multimedia/fototrabajando.jpg);
  width: 100px;
  height: 150px;
  background-position: content; }

.fotoperro-index {
  background-image: url(../multimedia/fotoperro.jpg);
  width: 100px;
  height: 150px;
  background-position: content; }

.matecocido-index {
  background-image: url(../multimedia/matecocido.jpg);
  width: 100px;
  height: 150px;
  background-position: content; }

.div-azul {
  color: #0000ff;
  background-color: white; }

.div-naranja {
  color: #ff4e00;
  background-color: white; }

.div-violeta {
  color: #9F00FF;
  background-color: white; }

.div-maiz {
  color: #ffc3a0;
  background-color: white; }

nav ul {
  background-color: #edc7fc;
  display: flex;
  justify-content: space-around;
  position: relative; }

nav ul li {
  list-style-type: none;
  padding: 20px 10px;
  margin: 10px 0px;
  text-decoration: none; }

nav ul ul {
  display: none; }

nav ul li :hover ul {
  display: block;
  position: absolute; }

nav ol {
  background-color: #6e33cc;
  display: flex;
  justify-content: space-around; }

nav ol li {
  list-style-type: none; }

nav ol ol {
  display: none; }

nav ol li:hover ol {
  display: block; }

.sublista {
  display: none; }

.workHover :hover .sublista {
  display: block; }
